     
		 
		 
		   
			 <h1>我的-主页</h1>

			 
			 
	<li><%= link_to "我的post", posts_path %></li>
			 


	<li><%= link_to "我的album", albums_path %></li>


	<li><%= link_to "我的photo", photos_path %></li>
